/* -- MOBILE FIRST --*/

*{padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;}

body {height: 100%; width: 100%; background-color: white;}

header {padding: 10px 0px;}
h1 {font-size: 28px;
margin-top: 10px;}

main {margin: auto;}

#conteiner-principal {display: flex;
flex-flow: column wrap-reverse;
background-color: rgb(196, 196, 196);
padding: 10px 10px 0px 10px;}

#secao1 {order: 2; border: 1px dashed black; }

#img1 {width: 200px; 
align-self: center;
order: 1;}

#secao2 {order: 4; border: 1px dashed black;}

iframe {order: 3; 
width: 100%;
align-self: center;}

h2 {font-size: 20px; margin-top: 20px; margin-left: 15px;}

p {margin: 10px 0px; 
text-indent: 20px; 
text-align: justify;
flex-basis: 50px;
line-height: 30px;
padding: 10px;}



/* -- TABLETS -- */
@media screen and (min-width: 768px) {


    h1 {margin-left: 25px;}
    p {text-indent: 40px;}
    #secao1 {order: 1;}
    #img1 {order: 2;}
    #secao2 {order: 3;}
    iframe {order: 4; width: 80%;}
}



/* -- LAPTOPS / DESKTOPS / TVs -- */
@media screen and (min-width: 992px) {
    

    main > p, h1, main > h2, #secao1 > h2, #secao1 > p {padding: 0% 9% 0% 9%;}

    #secao2 {padding: 0% 4% 0% 4%;}

    #conteiner-principal {flex-flow: row wrap;}

    #conteiner-secundario {display: flex; 
    width: 100%;}

    #secao1 {flex-basis: 600px;}

    #img1 {width: 250px;
    padding-left: 6%;
    padding-right: 2%;}

    iframe {display: block;
    margin: auto;
    height: 350px;
    width: 800px;}
}

@media screen and (min-width: 1070px) {
    

    #img1 {padding-left: 15%;}
}