/* == VERSÃO PARA TABLETS == */
@media screen and (min-width: 768px) and (max-width: 992px) {


body {background: white url(../../../imagens/back-tablet.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;}

#tv, #pc, #print, #cell {display: none;}
#pe {display: none;}


}



/* == VERSÃO PARA LAPTOPTS / DESKTOPS == */
@media screen and (min-width: 992px) and (max-width: 1200px) {


body {background: rgb(255, 0, 234) url(../../../imagens/back-pc.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;}

#cell, #print, #tv, #tabl {display: none;}
#pe {display: none;}


}



/* == VERSÃO PARA TELAS GRANDES == */
@media screen and (min-width: 1200px) {

body {background: white url(../../../imagens/back-tv.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;}

#pc, #print, #cell, #tabl {display: none;}
#pe {display: none;}

}



@media print {


#pc, #cell, #tabl, #tv, #pe {display: none;}

body main {box-shadow: none;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border: 3px  solid black;}

h1 {margin-top: 20px;}


}